$color-white: #fff;
$border-color:#193263;
$icon-color:#193263;
$bg-active:#193263;
$text-color:rgba(0, 0, 0, 0.7);
$black-color-8:rgba(0, 0, 0, 0.8);
$input-border:rgba(0, 0, 0, 0.2);
$black-color-5 :rgba(0, 0, 0, 0.5);
$bg-color-input: #ECEEF6;