@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-row {
    @include flex-center;
    flex-direction: row;
}