.bottom-nav {
    width: 100%;
    padding: 30px 0px;
    background-color: $color-white;

    &-inner {
        display: flex;
        align-items: center;

        .nav-links {
            width: 100%;
            @include flex-between;

            .link {
                font-weight: 600;
                padding: 12px;
                color: $text-color;
                text-align: center;
                font-size: 14px;

                @media only screen and (min-width: 1200px) {
                    font-size: 18px;

                }

                &.active {
                    background: $bg-active;
                    color: $color-white;
                }

            }
        }
    }
}